<div class="container mt-3 mb-3" *ngIf="drinkTitle">
  <div class="row">
    <div class="titelKategorie col">{{ drinkTitle }}</div>
  </div>
</div>
<div class="container">
  <div class="row mb-2" *ngFor="let drink of drinks">
    <div class="col-3">{{ drink.name }}</div>
    <div class="col-7">
      <button class="btn btn-outline-success mr-3">1</button>
      <button class="btn btn-outline-success mr-3">2</button>
      <button class="btn btn-outline-success mr-3">3</button>
      <button class="btn btn-outline-success mr-3">5</button>
    </div>
    <div class="col text-right">{{ drink.price }}.-</div>
  </div>
  <hr />
</div>
