<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <a class="navbar-brand ml-3" routerLink="/kasse">
    <img
      src="assets/img/hum.png"
      width="30"
      height="30"
      class="d-inline-block align-top"
      alt=""
    />
  </a>
  <a class="headerTitel mr-3" routerLink="/kasse">HUM Eventing</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarText"
    aria-controls="navbarText"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <a class="btn btn-outline-warning mr-2" (click)="openDrink('no')">Ohne</a>
      <a class="btn btn-outline-warning mr-2" (click)="openDrink('mid')">16+</a>
      <a class="btn btn-outline-warning mr-2" (click)="openDrink('all')">18+</a>
    </ul>
    <form class="form-inline">
      <a class="btn btn-outline-success mr-3" type="button">Normal</a>
      <a class="btn btn-outline-danger mr-5" type="button">FREE</a>
    </form>
  </div>
</nav>
